*{
    margin: 0;
}

.container {
    margin-top: 4%;
    
}

.navbar-container {
    display: flex;
    flex: 2;
    justify-content: space-around;

}

.list {
    display: flex;
    flex: 2;
    justify-content: space-between;
    list-style-type: none;
    padding: 5px;
    font-family: "Orbitron";
    font-weight: 600;
    font-size: 30px;

}

ul{
    display: flex;
    flex: 2;
    flex-direction: row;
    gap: 100px;
    
}

.hero-container{
    display: flex;
    flex: 1;
    margin: 2% 15%;

}

.hero-img{
    display: block;
    position: absolute;
    left: 7%;
    top: 25%;

}

.square{
    display: block;
    position: absolute;
    left: 18%;
    top: 58%;
}

.hero-container-right{
    display: flex;
    flex: 2;
    flex-direction: column;
    position:absolute;
    /* text-align: right; */
    top: 50%;
}

.hero-heading{
    font-family: "orbitron";
    height: 15vh;
    width: 100vh;
    display: block;
    position: absolute;
    font-size: 70px;
    font-weight: 700;
    left: 550px;
    top: -80%;

}

.hero-description{
    font-family: "poppins";
    height: 15vh;
    width: 70vh;
    position: absolute;
    display: block;
    top: 70%;
    left: 675px;
    text-align: center;
    color: grey;
    
}

.nav-button{
    display: block;
    background-color: transparent;
    padding: 10px 60px;
    border-radius: 20px;
    border: 3px solid;
    font-size: 20px;
    color: grey;

}

.nav-button:hover {
    color: #fff;
    cursor: pointer;
    transition: 200ms ease-in-out;
    box-shadow: 0 0 40px 40px inset #1f1f1f;
}




.search-icon:hover{
    cursor: pointer;
}

.search-icon{
    display: block;
    position:absolute;
    right: 17%;
    top: 9%;

}


.star{
    display: block;
    position: absolute;
    right: 7%;
    top: 30%;

}

.globe{
    display: block;
    position: absolute;
    top: 25%;
    left: 55%;
}

.square{
    position: absolute;
    display: block;
    top: 57%;
    left: 17%;
}

.hero-img{
    display: block;
    position: absolute;
    top: 23%;
    left: 6%;
}

.icons{
    display: block;
    position: absolute;
    bottom: 0;
    top: 50%;
    right: 50%;
}
 
.btn{
    display: block;
    position: relative;
    top: 200px;
    left: 750px;
    padding: 5px 60px;
    text-align: center;
    
}


.button-email , .button-join{
    padding: 5px 40px;
    font-family: "orbitron";;
    background-color: transparent;
    
    border-radius: 10px;
    border: 3px solid;
    font-size: 20px;
    font-weight: 500;
    color: #504a4a;
    

}

.button-join{
    background-color:  #000;
    color: #fff;
    border: solid #1f1f1f;
    font-weight: 400;
    padding: 5px;
    margin-left: 15px;
}

.button-email:hover , .button-join:hover{
    cursor: pointer;
}

.contact-heading{
    display: absolute;
    position: relative;
    bottom: -330px;
    right: -950px;
    font-size: 25px;
    font-family: "poppins";
    font-weight: 500;
    color: #504a4a;
}

.icons{
    display: block;
    text-align: end;
    right: -600px;
    top: 420px;
    
    
    
}

.list-item:hover{
    cursor:pointer;
    font-weight: 900;
    text-decoration: underline;
}




